<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-tipo-operacao-heading" jhiTranslate="cmtprojectApp.tipoOperacao.home.createOrEditLabel">Create or edit a Tipo Operacao</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!tipoOperacao.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="tipoOperacao.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.tipoOperacao.nomeOperacao" for="field_nomeOperacao">Nome Operacao</label>
                    <input type="text" class="form-control" name="nomeOperacao" id="field_nomeOperacao"
                        [(ngModel)]="tipoOperacao.nomeOperacao" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.tipoOperacao.tipoLancamento" for="field_tipoLancamento">Tipo Lancamento</label>
                    <select class="form-control" name="tipoLancamento" [(ngModel)]="tipoOperacao.tipoLancamento" id="field_tipoLancamento" >
                        <option value="Credito">{{'cmtprojectApp.TipoLancamento.Credito' | translate}}</option>
                        <option value="Debito">{{'cmtprojectApp.TipoLancamento.Debito' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.tipoOperacao.bolAtivo" for="field_bolAtivo">Bol Ativo</label>
                    <input type="checkbox" class="form-control" name="bolAtivo" id="field_bolAtivo"
                        [(ngModel)]="tipoOperacao.bolAtivo" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
