<div class="row">
    <div class="col-8">
        <div *ngIf="tipoOperacao">
            <h2><span>Tipo Operação</span> {{tipoOperacao.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span >Nome Operação</span></dt>
                <dd>
                    <span>{{tipoOperacao.nomeOperacao}}</span>
                </dd>
                <dt><span >Tipo Lançamento</span></dt>
                <dd>
                    <span jhiTranslate="{{'cmtprojectApp.TipoLancamento.' + tipoOperacao.tipoLancamento}}">{{tipoOperacao.tipoLancamento}}</span>
                </dd>
                <dt>Ativo</dt>
                <dd>
                    <span>{{tipoOperacao.bolAtivo?"Ativo":"Inativo"}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tipo-operacao', tipoOperacao.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
