<div class="row ">
    <div class="col-12">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-cupom-heading">{{cupom.id>0?"Editar":"Criar"}} Cupom</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group row" [hidden]="!cupom.id">
                    <div class="col-md-1">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" id="id" name="id" [(ngModel)]="cupom.id" readonly />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="form-control-label" jhiTranslate="cmtprojectApp.cupom.data" for="field_data">Data</label>

                        <input id="field_data" type="date" class="form-control" name="data" [(ngModel)]="data" required
                            max="9999-12-31" />
                    </div>
                    <div class="col-md-2">
                        <label class="form-control-label" for="field_data">Hora</label>

                        <input id="field_hora" type="time" class="form-control" name="hora" [(ngModel)]="hora" required />
                    </div>

                    <div class="col-md-2">
                        <label class="form-control-label" jhiTranslate="cmtprojectApp.cupom.valor" for="field_valor">Valor</label>
                        <input type="text" class="form-control" currencyMask name="valor" id="field_valor" [(ngModel)]="cupom.valor"
                            required />
                    </div>
                    <div class="col-md-2">
                        <label class="form-control-label" for="field_numero">Número</label>
                        <input type="text" class="form-control" name="numero" id="field_numero" [(ngModel)]="cupom.numero"
                            required />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-10">

                        <label class="form-control-label" jhiTranslate="cmtprojectApp.cupom.foto" for="field_foto">Foto</label>
                        <div>
                            <img [src]="'data:' + cupom.fotoContentType + ';base64,' + cupom.foto" style="    max-height: 200px; max-width: 200px;"
                                *ngIf="cupom.foto && isBase64" alt="cupom image base64" />

                            <img [src]="cupom.foto" *ngIf="cupom.foto && !isBase64" style="    max-height: 200px; max-width: 200px;"
                                alt="cupom image url" />
                            <div *ngIf="cupom.foto" class="form-text text-danger clearfix">
                                <span class="pull-left">{{cupom.fotoContentType}}, {{byteSize(cupom.foto)}}</span>
                                <button type="button" (click)="clearInputImage('foto', 'fotoContentType', 'fileImage')"
                                    class="btn btn-secondary btn-xs pull-right">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                </button>
                            </div>
                            <input type="file" id="file_foto" (change)="setFileData($event, cupom, 'foto', true)"
                                accept="image/*" jhiTranslate="entity.action.addimage" />
                        </div>
                        <input type="hidden" class="form-control" name="foto" id="field_foto" [(ngModel)]="cupom.foto"
                            required />
                        <input type="hidden" class="form-control" name="fotoContentType" id="field_fotoContentType"
                            [(ngModel)]="cupom.fotoContentType" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-10">

                        <label class="form-control-label" for="field_estabelecimentoComercialId">Estabelecimento
                            Comercial</label>
                        <select class="form-control" id="field_estabelecimentoComercialId" name="estabelecimentoComercialId"
                            [(ngModel)]="cupom.estabelecimentoComercialId" required>
                            <option [ngValue]="undefined" disabled selected>Selecione...</option>
                            <option [ngValue]="item.id" *ngFor="let item of estabelecimentos; trackBy: trackById">{{item.nome}}</option>
                        </select>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-success">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
