<div>
    <h2 id="page-heading">
        <span >Agenda Evento</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-agenda-eventos" [routerLink]="['/agenda-eventos/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
           Novo
        </button>        
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="agendaEventos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id">ID<fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="titulo"><span >Título</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="data"><span jhiTranslate="cmtprojectApp.agendaEventos.data">Data</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="local"><span jhiTranslate="cmtprojectApp.agendaEventos.local">Local</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descricao"><span >Descrição</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th class="text-center" jhiSortBy="bolAtivo">Status <fa-icon [icon]="'sort'"></fa-icon></th>
            
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let agendaEventos of agendaEventos ;trackBy: trackId">
                <td><a [routerLink]="['/agenda-eventos', agendaEventos.id, 'view' ]">{{agendaEventos.id}}</a></td>
                <td>{{agendaEventos.titulo}}</td>
                <td>{{agendaEventos.data | date: 'dd/MM/yyyy HH:mm'}}</td>
                <td>{{agendaEventos.local}}</td>
                <td>{{agendaEventos.descricao}}</td>
                <td class="text-center"> <jhi-boolean
                    [value]="agendaEventos.bolAtivo"
                    [textTrue]="'Ativo'"
                    [textFalse]="'Inativo'">
                </jhi-boolean>	</td>               
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                        (click)="detalhar(['/agenda-eventos', agendaEventos.id, 'view' ])"
                                class="btn btn-link btn-sm" title="Visualizar">
                            <fa-icon [icon]="'eye'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/agenda-eventos', agendaEventos.id, 'edit']"
                                class="btn btn-link btn-sm" title="Editar">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'agenda-eventos/'+ agendaEventos.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-link btn-sm" title="Deletar">
                            <fa-icon [icon]="'times'"></fa-icon></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="agendaEventos && agendaEventos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
