<div class="row ">
    <div class="col-12">
        <div *ngIf="agendaEventos">
            <h2><span jhiTranslate="cmtprojectApp.agendaEventos.detail.title">Agenda Evento</span>
                {{agendaEventos.titulo}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Título</span></dt>
                <dd>
                    <span>{{agendaEventos.titulo}}</span>
                    <jhi-boolean [value]="agendaEventos.bolAtivo" [textTrue]="'Ativo'" [textFalse]="'Inativo'">
                    </jhi-boolean>
                </dd>
                <dt><span jhiTranslate="cmtprojectApp.agendaEventos.data">Data</span></dt>
                <dd>
                    <span>{{agendaEventos.data | date: 'dd/MM/yyyy HH:mm'}}</span>
                </dd>
                <dt><span jhiTranslate="cmtprojectApp.agendaEventos.local">Local</span></dt>
                <dd>
                    <span>{{agendaEventos.local}}</span>
                </dd>
                <dt><span>Descrição</span></dt>
                <dd>
                    <span>{{agendaEventos.descricao}}</span>
                </dd>
                <dt><span>Loja Maçonica</span></dt>
                <dd>
                    <span>{{agendaEventos.lojaMaconica}}</span>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button" [routerLink]="['/agenda-eventos', agendaEventos.id, 'edit']" class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
