<div class="row">
    <div class="col-8">
        <div *ngIf="pessoa">
            <h2><span >Pessoa</span> {{pessoa.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cmtprojectApp.pessoa.nome">Nome</span></dt>
                <dd>
                    <span>{{pessoa.nome}}</span>
                </dd>
                <dt><span jhiTranslate="cmtprojectApp.pessoa.telefone">Telefone</span></dt>
                <dd>
                    <span>{{pessoa.telefone}}</span>
                </dd>
                <dt><span jhiTranslate="cmtprojectApp.pessoa.email">Email</span></dt>
                <dd>
                    <span>{{pessoa.email}}</span>
                </dd>
                <dt><span jhiTranslate="cmtprojectApp.pessoa.tipoPessoa">Tipo Pessoa</span></dt>
                <dd>
                    <span jhiTranslate="{{'cmtprojectApp.TipoPessoa.' + pessoa.tipoPessoa}}">{{pessoa.tipoPessoa}}</span>
                </dd>
                <dt><span jhiTranslate="cmtprojectApp.pessoa.senha">Senha</span></dt>
                <dd>
                    <span>{{pessoa.senha}}</span>
                </dd>
                <dt><span jhiTranslate="cmtprojectApp.pessoa.dataNascimento">Data Nascimento</span></dt>
                <dd>
                    <span>{{pessoa.dataNascimento| date: 'dd/MM/yyyy HH:mm'}}</span>
                </dd>
                <dt><span jhiTranslate="cmtprojectApp.pessoa.bolAtivo">Bol Ativo</span></dt>
                <dd>
                    <span>{{pessoa.bolAtivo?"Ativo":"Inativo"}}</span>
                </dd>
                <dt><span jhiTranslate="cmtprojectApp.pessoa.pessoaDependenteId">Pessoa Dependente Id</span></dt>
                <dd>
                    <span>{{pessoa.pessoaDependenteId}}</span>
                </dd>
                <dt><span jhiTranslate="cmtprojectApp.pessoa.lojaMaconicaId">Loja Maconica Id</span></dt>
                <dd>
                    <span>{{pessoa.lojaMaconicaId}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pessoa', pessoa.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
