<div class="row ">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-pessoa-heading" >{{pessoa.id>0?"Editar":"Criar"}} Pessoa</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!pessoa.id">
                    <label for="id" >ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="pessoa.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.pessoa.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="pessoa.nome" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.pessoa.telefone" for="field_telefone">Telefone</label>
                    <input type="text" class="form-control" name="telefone" id="field_telefone"
                        [(ngModel)]="pessoa.telefone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.pessoa.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="pessoa.email" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.pessoa.tipoPessoa" for="field_tipoPessoa">Tipo Pessoa</label>
                    <select class="form-control" name="tipoPessoa" [(ngModel)]="pessoa.tipoPessoa" id="field_tipoPessoa" required >
                        <option value="Macom">{{'cmtprojectApp.TipoPessoa.Macom' | translate}}</option>
                        <option value="Dependente">{{'cmtprojectApp.TipoPessoa.Dependente' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.pessoa.senha" for="field_senha">Senha</label>
                    <input type="text" class="form-control" name="senha" id="field_senha"
                        [(ngModel)]="pessoa.senha" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.pessoa.dataNascimento" for="field_dataNascimento">Data Nascimento</label>
                    <div class="d-flex">
                        <input id="field_dataNascimento" type="date" class="form-control" name="dataNascimento" [(ngModel)]="dataNascimento"
                        />
                    </div>
                </div>
                <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" name="bolAtivo" id="field_bolAtivo"
                        [(ngModel)]="pessoa.bolAtivo" />
                        <label class="form-check-label"  for="field_bolAtivo">Ativo</label>
                    </div>
               
                <div class="form-group">
                        <label class="form-control-label"  for="field_pessoaDependenteId">Maçom</label>
                        <select class="form-control" id="field_pessoaDependenteId" name="pessoaDependenteId" [(ngModel)]="pessoa.pessoaDependenteId">
                            <option [ngValue]="undefined" disabled selected>Selecione...</option>
                            <option [ngValue]="item.id" *ngFor="let item of macons; trackBy: trackById">{{item.nome}}</option>
                        </select>
                    </div>
                <div class="form-group">
                        <label class="form-control-label"  for="field_lojaMaconicaId">Loja Maçonica</label>
                        <select class="form-control" id="field_lojaMaconicaId" name="lojaMaconicaId" [(ngModel)]="pessoa.lojaMaconicaId">
                            <option [ngValue]="undefined" disabled selected>Selecione...</option>
                            <option [ngValue]="item.id" *ngFor="let item of lojas; trackBy: trackById">{{item.nome}}</option>
                        </select>
                    </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-success">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
