<div class="row ">
    <div class="col-8">
        <div *ngIf="parametrizacao">
            <h2><span >Parametrização</span> {{parametrizacao.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span >Dia Cobrança Convênio</span></dt>
                <dd>
                    <span>{{parametrizacao.diaCobrancaConvenio}}</span>
                </dd>
                <dt><span jhiTranslate="cmtprojectApp.parametrizacao.diaPagamentoLoja">Dia Pagamento Loja</span></dt>
                <dd>
                    <span>{{parametrizacao.diaPagamentoLoja}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/parametrizacao', parametrizacao.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
