<div class="row ">
    <div class="col-12">
        <div *ngIf="grupoComercial">
            <h2><span>Grupo Comercial</span> {{grupoComercial.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nome</span></dt>
                <dd>
                    <span>{{grupoComercial.nome}}</span>
                    <jhi-boolean [value]="grupoComercial.status" [textTrue]="'Ativo'" [textFalse]="'Inativo'">
                    </jhi-boolean>
                </dd>
            </dl>
            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
            <button type="button" [routerLink]="['/grupo-comercial', grupoComercial.id, 'edit']"
                class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>