<div class="row ">
    <div class="col-12">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-grupo-comercial-heading">{{grupoComercial.id>0?"Editar":"Criar"}} Grupo Comercial</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group row" [hidden]="!grupoComercial.id">
                    <div class="col-md-1">
                        <label for="id" jhiTranslate="global.field.id">ID</label>
                        <input type="text" class="form-control" id="id" name="id" [(ngModel)]="grupoComercial.id"
                            readonly />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-8">
                        <label class="form-control-label" jhiTranslate="cmtprojectApp.grupoComercial.nome"
                            for="field_nome">Nome</label>
                        <input type="text" class="form-control" name="nome" id="field_nome"
                            [(ngModel)]="grupoComercial.nome" required />
                        <div [hidden]="!(editForm.controls.nome?.dirty && editForm.controls.nome?.invalid)">
                            <small class="form-text text-danger" [hidden]="!editForm.controls.nome?.errors?.required"
                                jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" name="bolAtivo" id="field_bolAtivo" [(ngModel)]="grupoComercial.status" />
                        <label class="form-check-label" for="field_bolAtivo">Ativo</label>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                    class="btn btn-success">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>