<div>
    <h2 id="page-heading">
        <span>Grupo Comercial</span>
        <button id="jh-create-entity"
            class="btn btn-primary float-right jh-create-entity create-categoria-estabelecimento"
            (click)="detalhar(['/grupo-comercial/new'])">
            <fa-icon [icon]="'plus'"></fa-icon>
            Novo
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br />
    <div class="table-responsive" *ngIf="grupoComercials">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id"><span>ID</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="nome"><span>Nome</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="status"><span>Status</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let grupoComercial of grupoComercials ;trackBy: trackId">
                    <td><a [routerLink]="['/grupo-comercial', grupoComercial.id, 'view' ]">{{grupoComercial.id}}</a>
                    </td>
                    <td>{{grupoComercial.nome}}</td>
                    <td>
                        <jhi-boolean [value]="grupoComercial.status" [textTrue]="'Ativo'" [textFalse]="'Inativo'">
                        </jhi-boolean>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" (click)="detalhar(['/grupo-comercial', grupoComercial.id, 'view' ])"
                                class="btn btn-info btn-sm" title="Visualizar">
                                <fa-icon [icon]="'eye'"></fa-icon>
                            </button>
                            <button type="submit" (click)="detalhar(['/grupo-comercial', grupoComercial.id, 'edit'])"
                                class="btn btn-primary btn-sm" title="Editar">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            </button>
                            <button type="submit"
                            (click)="detalhar(['/', { outlets: { popup: 'grupo-comercial/'+ grupoComercial.id + '/delete'} }])"
                                replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm" title="Deletar">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="grupoComercials && grupoComercials.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage">
            </jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>