<div>
    <h2 id="page-heading">
        <span jhiTranslate="cmtprojectApp.estabelecimentoComercial.home.title">Estabelecimento Comercials</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-estabelecimento-comercial" [routerLink]="['/estabelecimento-comercial/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cmtprojectApp.estabelecimentoComercial.home.createLabel">
            Create new Estabelecimento Comercial
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="estabelecimentoComercials">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="cmtprojectApp.estabelecimentoComercial.bolMatriz">Bol Matriz</span></th>
            <th><span jhiTranslate="cmtprojectApp.estabelecimentoComercial.codCnpj">Cod Cnpj</span></th>
            <th><span jhiTranslate="cmtprojectApp.estabelecimentoComercial.nome">Nome</span></th>
            <th><span jhiTranslate="cmtprojectApp.estabelecimentoComercial.endereco">Endereco</span></th>
            <th><span jhiTranslate="cmtprojectApp.estabelecimentoComercial.telefone">Telefone</span></th>
            <th><span jhiTranslate="cmtprojectApp.estabelecimentoComercial.logo">Logo</span></th>
            <th><span jhiTranslate="cmtprojectApp.estabelecimentoComercial.taxaConvenio">Taxa Convenio</span></th>
            <th><span jhiTranslate="cmtprojectApp.estabelecimentoComercial.bolAtivo">Bol Ativo</span></th>
            <th><span jhiTranslate="cmtprojectApp.estabelecimentoComercial.categoriaEstabelecimentoId">Categoria Estabelecimento Id</span></th>
            <th><span jhiTranslate="cmtprojectApp.estabelecimentoComercial.estabelecimentoMatrizId">Estabelecimento Matriz Id</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let estabelecimentoComercial of estabelecimentoComercials ;trackBy: trackId">
                <td><a [routerLink]="['/estabelecimento-comercial', estabelecimentoComercial.id, 'view' ]">{{estabelecimentoComercial.id}}</a></td>
                <td>{{estabelecimentoComercial.bolMatriz}}</td>
                <td>{{estabelecimentoComercial.codCnpj}}</td>
                <td>{{estabelecimentoComercial.nome}}</td>
                <td>{{estabelecimentoComercial.endereco}}</td>
                <td>{{estabelecimentoComercial.telefone}}</td>
                <td>
                    <a *ngIf="estabelecimentoComercial.logo" (click)="openFile(estabelecimentoComercial.logoContentType, estabelecimentoComercial.logo)">
                        <img [src]="'data:' + estabelecimentoComercial.logoContentType + ';base64,' + estabelecimentoComercial.logo" style="max-height: 30px;" alt="estabelecimentoComercial image"/>
                    </a>
                    <span *ngIf="estabelecimentoComercial.logo">{{estabelecimentoComercial.logoContentType}}, {{byteSize(estabelecimentoComercial.logo)}}</span>
                </td>
                <td>{{estabelecimentoComercial.taxaConvenio}}</td>
                <td>{{estabelecimentoComercial.bolAtivo}}</td>
                <td>{{estabelecimentoComercial.categoriaEstabelecimentoId}}</td>
                <td>{{estabelecimentoComercial.estabelecimentoMatrizId}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/estabelecimento-comercial', estabelecimentoComercial.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/estabelecimento-comercial', estabelecimentoComercial.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'estabelecimento-comercial/'+ estabelecimentoComercial.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
