<div class="row ">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-estabelecimento-comercial-heading">{{estabelecimentoComercial.id>0?"Editar":"Criar"}}
                Estabelecimento Comercial</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!estabelecimentoComercial.id">
                    <label for="id" >ID</label>
                    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="estabelecimentoComercial.id"
                        readonly />
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="bolMatriz" id="field_bolMatriz" [(ngModel)]="estabelecimentoComercial.bolMatriz" />
                    <label class="form-check-label" for="field_bolMatriz">Matriz</label>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_codCnpj">CNPJ</label>
                    <input type="text" class="form-control" name="codCnpj" id="field_codCnpj" 
                    [(ngModel)]="estabelecimentoComercial.codCnpj"
                    mask="00.000.000/0000-00" required />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.estabelecimentoComercial.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome" [(ngModel)]="estabelecimentoComercial.nome" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" 
                        for="field_endereco">Endereço </label>
                    <input type="text" class="form-control" name="endereco" id="field_endereco" [(ngModel)]="estabelecimentoComercial.endereco" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.estabelecimentoComercial.telefone"
                        for="field_telefone">Telefone</label>
                    <input type="text" class="form-control" name="telefone" id="field_telefone" 
                    [(ngModel)]="estabelecimentoComercial.telefone"
                    mask="(00) 0 0000-0000" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.estabelecimentoComercial.logo" for="field_logo">Logo</label>
                    <div>
                        <img [src]="'data:' + estabelecimentoComercial.logoContentType + ';base64,' + estabelecimentoComercial.logo"
                            style="max-height: 100px;" *ngIf="estabelecimentoComercial.logo" alt="estabelecimentoComercial image" />
                        <div *ngIf="estabelecimentoComercial.logo" class="form-text text-danger clearfix">
                            <span class="pull-left">{{estabelecimentoComercial.logoContentType}},
                                {{byteSize(estabelecimentoComercial.logo)}}</span>
                            <button type="button" (click)="clearInputImage('logo', 'logoContentType', 'fileImage')"
                                class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_logo" (change)="setFileData($event, estabelecimentoComercial, 'logo', true)"
                            accept="image/*" jhiTranslate="entity.action.addimage" />
                    </div>
                    <input type="hidden" class="form-control" name="logo" id="field_logo" [(ngModel)]="estabelecimentoComercial.logo" />
                    <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType"
                        [(ngModel)]="estabelecimentoComercial.logoContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" 
                        for="field_taxaConvenio">Taxa Convênio </label>
                    <input type="number" class="form-control" required
                     name="taxaConvenio" id="field_taxaConvenio" [(ngModel)]="estabelecimentoComercial.taxaConvenio" min="0.1" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_categoriaEstabelecimentoId">Categoria Estabelecimento</label>
                    <select class="form-control" id="field_categoriaEstabelecimentoId" name="categoriaEstabelecimentoId"
                        [(ngModel)]="estabelecimentoComercial.categoriaEstabelecimentoId">
                        <option [ngValue]="undefined" disabled selected>Selecione...</option>
                        <option [ngValue]="item.id" *ngFor="let item of categorias; trackBy: trackById">{{item.nome}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_estabelecimentoMatrizId">Matriz</label>
                    <select class="form-control" id="field_estabelecimentoMatrizId" name="estabelecimentoMatrizId"
                        [(ngModel)]="estabelecimentoComercial.estabelecimentoMatrizId" [disabled]="estabelecimentoComercial.bolMatriz"
                        [required]="!estabelecimentoComercial.bolMatriz">
                        <option [ngValue]="undefined" disabled selected>Selecione...</option>
                        <option [ngValue]="item.id" *ngFor="let item of estabelecimentos; trackBy: trackById">{{item.nome}}</option>
                    </select>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="bolAtivo" id="field_bolAtivo" [(ngModel)]="estabelecimentoComercial.bolAtivo" />
                    <label class="form-check-label" for="field_bolAtivo">Ativo</label>
                </div>

                <div class="row " style="    margin-left: 10px;">
                    <div class="col-md-12 card">
                        <div class="card-header">
                            <div class="card-title">
                                Contato
                            </div>
                        </div>
                        <div class="card-body">
                            <form name="editFormContato" role="form" novalidate (ngSubmit)="saveItem()" #editForm="ngForm">
                                <div class="form-group" [hidden]="true">
                                    <label for="id">ID</label>
                                    <input type="text" class="form-control" id="contatoEstabelecimento_id" name="contatoEstabelecimento_id"
                                        [(ngModel)]="contatoEstabelecimento.id" readonly />
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="field_nome">Nome</label>
                                    <input type="text" class="form-control" name="contatoEstabelecimento_nome" id="field_contatoEstabelecimento_nome"
                                        [(ngModel)]="contatoEstabelecimento.nome" />
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="field_telefone">Telefone</label>
                                    <input type="text" class="form-control" name="contatoEstabelecimento_telefone" id="field_contatoEstabelecimento_telefone"
                                        [(ngModel)]="contatoEstabelecimento.telefone"
                                        mask="(00) 0 0000-0000" />
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="field_email">Email</label>
                                    <input type="email" class="form-control" name="contatoEstabelecimento_email" id="field_contatoEstabelecimento_email"
                                        [(ngModel)]="contatoEstabelecimento.email" />
                                </div>
                                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="cancelar()" title="Cancelar">
                                    <fa-icon [icon]="'ban'"></fa-icon>
                                </button>
                                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                                    class="btn btn-success" title="Salvar/Editar">
                                    <fa-icon [icon]="'plus'"></fa-icon>
                                </button>

                            </form>
                            <br>
                            <div class="table-responsive" *ngIf="contatoEstabelecimentos">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>

                                            <th><span>Nome</span> </th>
                                            <th><span>Telefone</span> </th>
                                            <th><span>Email</span> </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of contatoEstabelecimentos ;trackBy: trackById; let i = index">

                                            <td>{{item.nome}} </td>
                                            <td>{{item.telefone}}</td>
                                            <td>{{item.email}}</td>

                                            <td class="text-right">
                                                <div class="btn-group flex-btn-group-container">

                                                    <button type="button" (click)="editarItem(i)"
                                                        class="btn btn-primary btn-sm" title="Editar">
                                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                                    </button>
                                                    <button type="button" (click)="deletar(i)"
                                                        replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm"
                                                        title="Deletar">
                                                        <fa-icon [icon]="'times'"></fa-icon>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-success">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>

    