<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-estabelecimento-comercial-heading" jhiTranslate="cmtprojectApp.estabelecimentoComercial.home.createOrEditLabel">Create or edit a Estabelecimento Comercial</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!estabelecimentoComercial.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="estabelecimentoComercial.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.estabelecimentoComercial.bolMatriz" for="field_bolMatriz">Bol Matriz</label>
                    <input type="checkbox" class="form-control" name="bolMatriz" id="field_bolMatriz"
                        [(ngModel)]="estabelecimentoComercial.bolMatriz" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.estabelecimentoComercial.codCnpj" for="field_codCnpj">Cod Cnpj</label>
                    <input type="text" class="form-control" name="codCnpj" id="field_codCnpj"
                        [(ngModel)]="estabelecimentoComercial.codCnpj" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.estabelecimentoComercial.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="estabelecimentoComercial.nome" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.estabelecimentoComercial.endereco" for="field_endereco">Endereco</label>
                    <input type="text" class="form-control" name="endereco" id="field_endereco"
                        [(ngModel)]="estabelecimentoComercial.endereco" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.estabelecimentoComercial.telefone" for="field_telefone">Telefone</label>
                    <input type="text" class="form-control" name="telefone" id="field_telefone"
                        [(ngModel)]="estabelecimentoComercial.telefone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.estabelecimentoComercial.logo" for="field_logo">Logo</label>
                    <div>
                        <img [src]="'data:' + estabelecimentoComercial.logoContentType + ';base64,' + estabelecimentoComercial.logo" style="max-height: 100px;" *ngIf="estabelecimentoComercial.logo" alt="estabelecimentoComercial image"/>
                        <div *ngIf="estabelecimentoComercial.logo" class="form-text text-danger clearfix">
                            <span class="pull-left">{{estabelecimentoComercial.logoContentType}}, {{byteSize(estabelecimentoComercial.logo)}}</span>
                            <button type="button" (click)="clearInputImage('logo', 'logoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_logo" (change)="setFileData($event, estabelecimentoComercial, 'logo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="logo" id="field_logo"
                        [(ngModel)]="estabelecimentoComercial.logo" />
                    <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType"
                        [(ngModel)]="estabelecimentoComercial.logoContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.estabelecimentoComercial.taxaConvenio" for="field_taxaConvenio">Taxa Convenio</label>
                    <input type="number" class="form-control" name="taxaConvenio" id="field_taxaConvenio"
                        [(ngModel)]="estabelecimentoComercial.taxaConvenio" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.estabelecimentoComercial.bolAtivo" for="field_bolAtivo">Bol Ativo</label>
                    <input type="checkbox" class="form-control" name="bolAtivo" id="field_bolAtivo"
                        [(ngModel)]="estabelecimentoComercial.bolAtivo" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.estabelecimentoComercial.categoria" for="field_categoria">Categoria</label>
                    <select class="form-control" id="field_categoria" name="categoria" [(ngModel)]="estabelecimentoComercial.categoria">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categoriaEstabelecimentoOption.id === estabelecimentoComercial.categoria?.id ? estabelecimentoComercial.categoria : categoriaEstabelecimentoOption" *ngFor="let categoriaEstabelecimentoOption of categorias; trackBy: trackCategoriaEstabelecimentoById">{{categoriaEstabelecimentoOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.estabelecimentoComercial.matriz" for="field_matriz">Matriz</label>
                    <select class="form-control" id="field_matriz" name="matriz" [(ngModel)]="estabelecimentoComercial.matriz" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="estabelecimentoComercialOption.id === estabelecimentoComercial.matriz?.id ? estabelecimentoComercial.matriz : estabelecimentoComercialOption" *ngFor="let estabelecimentoComercialOption of estabelecimentocomercials; trackBy: trackEstabelecimentoComercialById">{{estabelecimentoComercialOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
