<div>
    <h2 id="page-heading">
        <span>Estabelecimento Comercial</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-estabelecimento-comercial"
            [routerLink]="['/estabelecimento-comercial/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            Novo
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br />
    <div class="table-responsive" *ngIf="estabelecimentoComercials">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id">ID <fa-icon [icon]="'sort'"></fa-icon>
                    </th> 
                    <th jhiSortBy="nome"><span jhiTranslate="cmtprojectApp.estabelecimentoComercial.nome">Nome</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="endereco">Endereço <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="telefone"><span jhiTranslate="cmtprojectApp.estabelecimentoComercial.telefone">Telefone</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    
                    <th jhiSortBy="taxaConvenio">Tx. Convênio <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="categoria"><span >Categoria</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="bolAtivo">Status <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let estabelecimentoComercial of estabelecimentoComercials ;trackBy: trackId">
                    <td><a [routerLink]="['/estabelecimento-comercial', estabelecimentoComercial.id, 'view' ]">{{estabelecimentoComercial.id}}</a></td>                   
                    <td>{{estabelecimentoComercial.nome}}</td>
                    <td>{{estabelecimentoComercial.endereco}}</td>
                    <td>{{estabelecimentoComercial.telefone| mask: '(00) 0 0000-0000'}}</td>                    
                    <td class="text-center">{{estabelecimentoComercial.taxaConvenio}}%</td>
                    <td>{{estabelecimentoComercial.categoria}}</td>
                    <td> <jhi-boolean
                        [value]="estabelecimentoComercial.bolAtivo"
                        [textTrue]="'Ativo'"
                        [textFalse]="'Inativo'">
                    </jhi-boolean></td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['/estabelecimento-comercial', estabelecimentoComercial.id, 'view' ]"
                                class="btn btn-info btn-sm" title="Visualizar">
                                <fa-icon [icon]="'eye'"></fa-icon>
                            </button>
                            <button type="submit" [routerLink]="['/estabelecimento-comercial', estabelecimentoComercial.id, 'edit']"
                                class="btn btn-primary btn-sm" title="Editar">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'estabelecimento-comercial/'+ estabelecimentoComercial.id + '/delete'} }]"
                                replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm" title="Deletar">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="estabelecimentoComercials && estabelecimentoComercials.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
