<div>
    <h2 id="page-heading">
        <span jhiTranslate="cmtprojectApp.contatoLojaMaconica.home.title">Contato Loja Maconicas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contato-loja-maconica" [routerLink]="['/contato-loja-maconica/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cmtprojectApp.contatoLojaMaconica.home.createLabel">
            Create new Contato Loja Maconica
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="contatoLojaMaconicas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="cmtprojectApp.contatoLojaMaconica.nome">Nome</span></th>
            <th><span jhiTranslate="cmtprojectApp.contatoLojaMaconica.telefone">Telefone</span></th>
            <th><span jhiTranslate="cmtprojectApp.contatoLojaMaconica.email">Email</span></th>
            <th><span jhiTranslate="cmtprojectApp.contatoLojaMaconica.lojaMaconicaId">Loja Maconica Id</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contatoLojaMaconica of contatoLojaMaconicas ;trackBy: trackId">
                <td><a [routerLink]="['/contato-loja-maconica', contatoLojaMaconica.id, 'view' ]">{{contatoLojaMaconica.id}}</a></td>
                <td>{{contatoLojaMaconica.nome}}</td>
                <td>{{contatoLojaMaconica.telefone}}</td>
                <td>{{contatoLojaMaconica.email}}</td>
                <td>{{contatoLojaMaconica.lojaMaconicaId}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/contato-loja-maconica', contatoLojaMaconica.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/contato-loja-maconica', contatoLojaMaconica.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contato-loja-maconica/'+ contatoLojaMaconica.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
