<div class="row ">
    <div class="col-8">
        <div *ngIf="contatoLojaMaconica">
            <h2><span >Contato Loja Maçonica</span> {{contatoLojaMaconica.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cmtprojectApp.contatoLojaMaconica.nome">Nome</span></dt>
                <dd>
                    <span>{{contatoLojaMaconica.nome}}</span>
                </dd>
                <dt><span jhiTranslate="cmtprojectApp.contatoLojaMaconica.telefone">Telefone</span></dt>
                <dd>
                    <span>{{contatoLojaMaconica.telefone}}</span>
                </dd>
                <dt><span jhiTranslate="cmtprojectApp.contatoLojaMaconica.email">Email</span></dt>
                <dd>
                    <span>{{contatoLojaMaconica.email}}</span>
                </dd>
                <dt><span jhiTranslate="cmtprojectApp.contatoLojaMaconica.lojaMaconicaId">Loja Maconica Id</span></dt>
                <dd>
                    <span>{{contatoLojaMaconica.lojaMaconicaId}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contato-loja-maconica', contatoLojaMaconica.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
