<div class="row ">
    <div class="col-8">
        <div *ngIf="perfilUsuario">
            <h2><span >Perfil Usuário</span> {{perfilUsuario.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cmtprojectApp.perfilUsuario.nomePerfil">Nome Perfil</span></dt>
                <dd>
                    <span>{{perfilUsuario.nomePerfil}}</span>
                </dd>
                <dt>Ativo</dt>
                <dd>
                    <span>{{perfilUsuario.bolAtivo ?"Ativo":"Inativo"}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/perfil-usuario', perfilUsuario.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
