<div>
    <h2 id="page-heading">
        <span>Perfil Usuário</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-perfil-usuario"
            [routerLink]="['/perfil-usuario/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            Novo
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br />
    <div class="table-responsive" *ngIf="perfilUsuarios">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id">ID<fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="nomePerfil"><span jhiTranslate="cmtprojectApp.perfilUsuario.nomePerfil">Nome Perfil</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="bolAtivo">Ativo <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let perfilUsuario of perfilUsuarios ;trackBy: trackId">
                    <td><a [routerLink]="['/perfil-usuario', perfilUsuario.id, 'view' ]">{{perfilUsuario.id}}</a></td>
                    <td>{{perfilUsuario.nomePerfil}}</td>
                    <td>{{perfilUsuario.bolAtivo?"Ativo":"Inativo"}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['/perfil-usuario', perfilUsuario.id, 'view' ]" title="Visualizar"
                                class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                            </button>

                            <button type="submit" [routerLink]="['/perfil-usuario', perfilUsuario.id, 'edit']" title="Editar"
                                class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'perfil-usuario/'+ perfilUsuario.id + '/delete'} }]"
                                replaceUrl="true" queryParamsHandling="merge" title="Deletar" class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="perfilUsuarios && perfilUsuarios.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
