<div class="row ">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-comunicacao-push-loja-heading" >{{comunicacaoPushLoja.id>0?"Editar":"Criar"}} Comunicação Push Loja</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!comunicacaoPushLoja.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="comunicacaoPushLoja.id" readonly />
                </div>                
                <div class="form-group">
                    <label class="form-control-label"  for="field_lojaMaconicaId">Comunicação Push</label>
                    <select class="form-control" id="field_comunicacaoPushId" name="comunicacaoPushId" [(ngModel)]="comunicacaoPushLoja.comunicacaoPushId" required >
                        <option [ngValue]="undefined" disabled selected>Selecione...</option>
                        <option [ngValue]="comunicacao.id" *ngFor="let comunicacao of comunicacoes; trackBy: trackcomunicacaoPushId">{{comunicacao.titulo}}</option>
                    </select>
                </div>				
                <div class="form-group">
                    <label class="form-control-label"  for="field_lojaMaconicaId">Loja Maçonica</label>
                    <select class="form-control" id="field_lojaMaconicaId" name="lojaMaconica" [(ngModel)]="comunicacaoPushLoja.lojaMaconicaId" required>
                        <option [ngValue]="undefined" disabled selected>Selecione...</option>
                        <option [ngValue]="loja.id" *ngFor="let loja of lojas; trackBy: trackLojaMaconicaById">{{loja.nome}}</option>
                    </select>
                </div>				
				
               

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-success">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
