<div class="row">
    <div class="col-8">
        <div *ngIf="comunicacaoPushLoja">
            <h2><span >Comunicação Push Loja</span> {{comunicacaoPushLoja.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span >Comunicação Push</span></dt>
                <dd>
                    <span>{{comunicacaoPushLoja.comunicacaoPushId}}</span>
                </dd>
                <dt><span >Loja Maçonica</span></dt>
                <dd>
                    <span>{{comunicacaoPushLoja.lojaMaconica}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/comunicacao-push-loja', comunicacaoPushLoja.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
