thead {
    tr {
        font-size: 12px;
    }
}
tbody {
    tr {
        td {
            padding: 0px 7px;
        }

        font-size: 10px;
    }
}
tfoot {
    tr {
        td {
            padding: 0px 7px;
        }
        font-size: 12px;
        font-weight: bold;
    }
}
.table-responsive {
    overflow: hidden;
    overflow-x: scroll;
}
