<div>
    <h2 id="page-heading">
        <span jhiTranslate="cmtprojectApp.relatorioCupomCmt.home.title">Relatorio Cupom Cmts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-relatorio-cupom-cmt" [routerLink]="['/relatorio-cupom-cmt/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cmtprojectApp.relatorioCupomCmt.home.createLabel">
            Create new Relatorio Cupom Cmt
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="relatorioCupomCmts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cupom"><span jhiTranslate="cmtprojectApp.relatorioCupomCmt.cupom">Cupom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="data"><span jhiTranslate="cmtprojectApp.relatorioCupomCmt.data">Data</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let relatorioCupomCmt of relatorioCupomCmts ;trackBy: trackId">
                <td><a [routerLink]="['/relatorio-cupom-cmt', relatorioCupomCmt.id, 'view' ]">{{relatorioCupomCmt.id}}</a></td>
                <td>{{relatorioCupomCmt.cupom}}</td>
                <td>{{relatorioCupomCmt.data}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/relatorio-cupom-cmt', relatorioCupomCmt.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/relatorio-cupom-cmt', relatorioCupomCmt.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'relatorio-cupom-cmt/'+ relatorioCupomCmt.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
