<div class="row ">
    <div class="col-8">
        <div *ngIf="categoriaEstabelecimento">
            <h2><span jhiTranslate="cmtprojectApp.categoriaEstabelecimento.detail.title">Categoria Estabelecimento</span> {{categoriaEstabelecimento.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cmtprojectApp.categoriaEstabelecimento.nome">Nome</span></dt>
                <dd>
                    <span>{{categoriaEstabelecimento.nome}}</span>
                    <jhi-boolean
                        [value]="categoriaEstabelecimento.bolAtivo"
                        [textTrue]="'Ativo'"
                        [textFalse]="'Inativo'">
                    </jhi-boolean>	
                </dd>
                
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/categoria-estabelecimento', categoriaEstabelecimento.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
