<div class="row ">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-categoria-estabelecimento-heading" >{{categoriaEstabelecimento.id>0?"Editar":"Criar"}} Categoria Estabelecimento</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!categoriaEstabelecimento.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="categoriaEstabelecimento.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.categoriaEstabelecimento.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="categoriaEstabelecimento.nome" required />
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="bolAtivo" id="field_bolAtivo"
                    [(ngModel)]="categoriaEstabelecimento.bolAtivo" />
                    <label class="form-check-label"  for="field_bolAtivo">Ativo</label>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-success">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
