<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="comunicacaoPush">
            <h2><span jhiTranslate="cmtprojectApp.comunicacaoPush.detail.title">Comunicacao Push</span> {{comunicacaoPush.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cmtprojectApp.comunicacaoPush.titulo">Titulo</span></dt>
                <dd>
                    <span>{{comunicacaoPush.titulo}}</span>
                </dd>
                <dt><span jhiTranslate="cmtprojectApp.comunicacaoPush.conteudoPush">Conteudo Push</span></dt>
                <dd>
                    <span>{{comunicacaoPush.conteudoPush}}</span>
                </dd>
                <dt><span jhiTranslate="cmtprojectApp.comunicacaoPush.tipoPessoa">Tipo Pessoa</span></dt>
                <dd>
                    <span jhiTranslate="{{'cmtprojectApp.TipoPessoa.' + comunicacaoPush.tipoPessoa}}">{{comunicacaoPush.tipoPessoa}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/comunicacao-push', comunicacaoPush.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
