<div class="row ">
    <div class="col-8">
        <div *ngIf="comunicacaoPush">
            <h2><span >Comunicação Push</span> {{comunicacaoPush.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cmtprojectApp.comunicacaoPush.titulo">Titulo</span></dt>
                <dd>
                    <span>{{comunicacaoPush.titulo}}</span>
                </dd>
                <dt><span jhiTranslate="cmtprojectApp.comunicacaoPush.conteudoPush">Conteudo Push</span></dt>
                <dd>
                    <span>{{comunicacaoPush.conteudoPush}}</span>
                </dd>
                <dt><span >Público</span></dt>
                <dd>
                    <span jhiTranslate="{{'cmtprojectApp.TipoPessoa.' + comunicacaoPush.tipoPessoa}}">{{comunicacaoPush.tipoPessoa}}</span>
                </dd>
                <dt><span>Lojas</span></dt>
                <dd>
                    <div class="table-responsive" *ngIf="pushLoja">
                        <table class="table table-striped">
                            <thead>
                                <tr>

                                    <th><span>Nome</span> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of pushLoja ;trackBy: trackById; let i = index">

                                    <td>{{item.lojaMaconica}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/comunicacao-push', comunicacaoPush.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
