<div>
    <h2 id="page-heading">
        <span jhiTranslate="cmtprojectApp.usuario.home.title">Usuarios</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-usuario" [routerLink]="['/usuario/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cmtprojectApp.usuario.home.createLabel">
            Create new Usuario
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="usuarios">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="cmtprojectApp.usuario.nome">Nome</span></th>
            <th><span jhiTranslate="cmtprojectApp.usuario.telefone">Telefone</span></th>
            <th><span jhiTranslate="cmtprojectApp.usuario.email">Email</span></th>
            <th><span jhiTranslate="cmtprojectApp.usuario.senha">Senha</span></th>
            <th><span jhiTranslate="cmtprojectApp.usuario.bolAtivo">Bol Ativo</span></th>
            <th><span jhiTranslate="cmtprojectApp.usuario.perfilId">Perfil Id</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let usuario of usuarios ;trackBy: trackId">
                <td><a [routerLink]="['/usuario', usuario.id, 'view' ]">{{usuario.id}}</a></td>
                <td>{{usuario.nome}}</td>
                <td>{{usuario.telefone}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.senha}}</td>
                <td>{{usuario.bolAtivo}}</td>
                <td>{{usuario.perfilId}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/usuario', usuario.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/usuario', usuario.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'usuario/'+ usuario.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
