<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}">JHipster password reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${user.login})}">
            Olá
        </p>
        <p th:text="#{email.reset.text1}">
            Para alterar sua senha, clique no link abaixo:
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|})" th:href="${url}"
            th:text="${url}">Alterar senha</a>
        </p>
        <p>
            <span th:text="#{email.reset.text2}">Atenciosamente, </span>
            <br/>
            <em th:text="#{email.signature}">Conselho de Maçons do triângulo.</em>
        </p>
    </body>
</html>
