<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contasPagarReceber">
            <h2><span jhiTranslate="cmtprojectApp.contasPagarReceber.detail.title">Contas Pagar Receber</span> {{contasPagarReceber.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cmtprojectApp.contasPagarReceber.data">Data</span></dt>
                <dd>
                    <span>{{contasPagarReceber.data}}</span>
                </dd>
                <dt><span jhiTranslate="cmtprojectApp.contasPagarReceber.valor">Valor</span></dt>
                <dd>
                    <span>{{contasPagarReceber.valor}}</span>
                </dd>
                <dt><span jhiTranslate="cmtprojectApp.contasPagarReceber.tipoLancamento">Tipo Lancamento</span></dt>
                <dd>
                    <span jhiTranslate="{{'cmtprojectApp.TipoLancamento.' + contasPagarReceber.tipoLancamento}}">{{contasPagarReceber.tipoLancamento}}</span>
                </dd>
                <dt><span jhiTranslate="cmtprojectApp.contasPagarReceber.statusLancamento">Status Lancamento</span></dt>
                <dd>
                    <span jhiTranslate="{{'cmtprojectApp.StatusLancamento.' + contasPagarReceber.statusLancamento}}">{{contasPagarReceber.statusLancamento}}</span>
                </dd>
                <dt><span jhiTranslate="cmtprojectApp.contasPagarReceber.usuario">Usuario</span></dt>
                <dd>
                    <div *ngIf="contasPagarReceber.usuario">
                        <a [routerLink]="['/usuario', contasPagarReceber.usuario?.id, 'view']">{{contasPagarReceber.usuario?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="cmtprojectApp.contasPagarReceber.lojaMaconica">Loja Maconica</span></dt>
                <dd>
                    <div *ngIf="contasPagarReceber.lojaMaconica">
                        <a [routerLink]="['/loja-maconica', contasPagarReceber.lojaMaconica?.id, 'view']">{{contasPagarReceber.lojaMaconica?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="cmtprojectApp.contasPagarReceber.estabelecimentoComercial">Estabelecimento Comercial</span></dt>
                <dd>
                    <div *ngIf="contasPagarReceber.estabelecimentoComercial">
                        <a [routerLink]="['/estabelecimento-comercial', contasPagarReceber.estabelecimentoComercial?.id, 'view']">{{contasPagarReceber.estabelecimentoComercial?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="cmtprojectApp.contasPagarReceber.tipoOperacao">Tipo Operacao</span></dt>
                <dd>
                    <div *ngIf="contasPagarReceber.tipoOperacao">
                        <a [routerLink]="['/tipo-operacao', contasPagarReceber.tipoOperacao?.id, 'view']">{{contasPagarReceber.tipoOperacao?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contas-pagar-receber', contasPagarReceber.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
