<div class="row">
    <div class="col-12">
        <div *ngIf="contasPagarReceber">
            <h2><span >Contas a Pagar/Receber</span> {{contasPagarReceber.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cmtprojectApp.contasPagarReceber.data">Data</span></dt>
                <dd>
                    <span>{{contasPagarReceber.data | date: 'dd/MM/yyyy'}}</span>
                </dd>
                <dt><span jhiTranslate="cmtprojectApp.contasPagarReceber.valor">Valor</span></dt>
                <dd>
                    <span>{{contasPagarReceber.valor | currency:'BRL':true:'1.2-2'}}</span>
                </dd>
                <dt><span >Status Lançamento</span></dt>
                <dd>
                    <span jhiTranslate="{{'cmtprojectApp.StatusLancamento.' + contasPagarReceber.statusLancamento}}">{{contasPagarReceber.statusLancamento}}</span>
                </dd>
                
                <dt><span >Loja Maçonica</span></dt>
                <dd>
                    <span>{{contasPagarReceber.lojaMaconica}}</span>
                </dd>
                <dt><span >Estabelecimento Comercial</span></dt>
                <dd>
                    <span>{{contasPagarReceber.estabelecimento}}</span>
                </dd>
                <dt><span >Tipo Operação</span></dt>
                <dd>
                    <span>{{contasPagarReceber.tipoOperacao}}</span>
                </dd>
                <dt><span >Usuário</span></dt>
                <dd>
                    <span>{{contasPagarReceber.usuario}}</span>
                </dd>
                <dt><span >Loja Maçonica</span></dt>
                <dd>
                    <span>{{contasPagarReceber.lojaMaconica}}</span>
                </dd>
                <dt><span >Estabelecimento Comercial</span></dt>
                <dd>
                    <span>{{contasPagarReceber.estabelecimento}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contas-pagar-receber', contasPagarReceber.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
