<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-contas-pagar-receber-heading" jhiTranslate="cmtprojectApp.contasPagarReceber.home.createOrEditLabel">Create or edit a Contas Pagar Receber</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!contasPagarReceber.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="contasPagarReceber.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.contasPagarReceber.data" for="field_data">Data</label>
                    <div class="d-flex">
                        <input id="field_data" type="datetime-local" class="form-control" name="data" [(ngModel)]="data"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.contasPagarReceber.valor" for="field_valor">Valor</label>
                    <input type="number" class="form-control" name="valor" id="field_valor"
                        [(ngModel)]="contasPagarReceber.valor" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.contasPagarReceber.statusLancamento" for="field_statusLancamento">Status Lancamento</label>
                    <select class="form-control" name="statusLancamento" [(ngModel)]="contasPagarReceber.statusLancamento" id="field_statusLancamento" >
                        <option value="Aberto">{{'cmtprojectApp.StatusLancamento.Aberto' | translate}}</option>
                        <option value="Baixado">{{'cmtprojectApp.StatusLancamento.Baixado' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.contasPagarReceber.usuarioId" for="field_usuarioId">Usuario Id</label>
                    <input type="number" class="form-control" name="usuarioId" id="field_usuarioId"
                        [(ngModel)]="contasPagarReceber.usuarioId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.contasPagarReceber.lojaMaconicaId" for="field_lojaMaconicaId">Loja Maconica Id</label>
                    <input type="number" class="form-control" name="lojaMaconicaId" id="field_lojaMaconicaId"
                        [(ngModel)]="contasPagarReceber.lojaMaconicaId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.contasPagarReceber.estabelecimentoComercialId" for="field_estabelecimentoComercialId">Estabelecimento Comercial Id</label>
                    <input type="number" class="form-control" name="estabelecimentoComercialId" id="field_estabelecimentoComercialId"
                        [(ngModel)]="contasPagarReceber.estabelecimentoComercialId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmtprojectApp.contasPagarReceber.tipoOperacaoId" for="field_tipoOperacaoId">Tipo Operacao Id</label>
                    <input type="number" class="form-control" name="tipoOperacaoId" id="field_tipoOperacaoId"
                        [(ngModel)]="contasPagarReceber.tipoOperacaoId" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
