<div class="row ">
    <div class="col-12">
        <div *ngIf="lojaMaconica">
            <h2><span jhiTranslate="cmtprojectApp.lojaMaconica.detail.title">Loja Maçônica</span> {{lojaMaconica.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cmtprojectApp.lojaMaconica.nome">Nome</span></dt>
                <dd>
                    <span>{{lojaMaconica.nome}}</span>
                    <jhi-boolean [value]="lojaMaconica.bolAtivo" [textTrue]="'Ativo'" [textFalse]="'Inativo'">
                    </jhi-boolean>
                </dd>
                <dt>CNPJ</dt>
                <dd>
                    <span>{{lojaMaconica.codCnpj | mask: '00.000.000/0000-00'}}</span>
                </dd>
                <dt>Endereço</dt>
                <dd>
                    <span>{{lojaMaconica.endereco}}</span>
                </dd>
                <dt><span jhiTranslate="cmtprojectApp.lojaMaconica.telefone">Telefone</span></dt>
                <dd>
                    <span>{{lojaMaconica.telefone | mask: '(00) 0 0000-0000'}}</span>
                </dd>
                <dt><span>Número</span></dt>
                <dd>
                    <span>{{lojaMaconica.numero }}</span>
                </dd>
                <dt><span>Contato</span></dt>
                <dd>
                    <div class="table-responsive" *ngIf="contatolojas">
                        <table class="table table-striped">
                            <thead>
                                <tr>

                                    <th><span>Nome</span> </th>
                                    <th><span>Telefone</span> </th>
                                    <th><span>Email</span> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of contatolojas ;trackBy: trackById; let i = index">

                                    <td>{{item.nome}} </td>
                                    <td>{{item.telefone | mask: '(00) 0 0000-0000'}}</td>
                                    <td>{{item.email}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </dd>

            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button" [routerLink]="['/loja-maconica', lojaMaconica.id, 'edit']" class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
