<div>
    <h2 id="page-heading">
        <span jhiTranslate="cmtprojectApp.usuarioportal.home.title">Usuarioportals</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-usuarioportal" [routerLink]="['/usuarioportal/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cmtprojectApp.usuarioportal.home.createLabel">
            Create new Usuarioportal
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="usuarioportals">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="login"><span jhiTranslate="cmtprojectApp.usuarioportal.login">Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="firstName"><span jhiTranslate="cmtprojectApp.usuarioportal.firstName">First Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email"><span jhiTranslate="cmtprojectApp.usuarioportal.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="activated"><span jhiTranslate="cmtprojectApp.usuarioportal.activated">Activated</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="langKey"><span jhiTranslate="cmtprojectApp.usuarioportal.langKey">Lang Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="authorities"><span jhiTranslate="cmtprojectApp.usuarioportal.authorities">Authorities</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="cmtprojectApp.usuarioportal.createdBy">Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="cmtprojectApp.usuarioportal.createdDate">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastModifiedBy"><span jhiTranslate="cmtprojectApp.usuarioportal.lastModifiedBy">Last Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastModifiedDate"><span jhiTranslate="cmtprojectApp.usuarioportal.lastModifiedDate">Last Modified Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="password"><span jhiTranslate="cmtprojectApp.usuarioportal.password">Password</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataNascimento"><span jhiTranslate="cmtprojectApp.usuarioportal.dataNascimento">Data Nascimento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lojaMaconicaId"><span jhiTranslate="cmtprojectApp.usuarioportal.lojaMaconicaId">Loja Maconica Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="telefone"><span jhiTranslate="cmtprojectApp.usuarioportal.telefone">Telefone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoPessoa"><span jhiTranslate="cmtprojectApp.usuarioportal.tipoPessoa">Tipo Pessoa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="placet"><span jhiTranslate="cmtprojectApp.usuarioportal.placet">Placet</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let usuarioportal of usuarioportals ;trackBy: trackId">
                <td><a [routerLink]="['/usuarioportal', usuarioportal.id, 'view' ]">{{usuarioportal.id}}</a></td>
                <td>{{usuarioportal.login}}</td>
                <td>{{usuarioportal.firstName}}</td>
                <td>{{usuarioportal.email}}</td>
                <td>{{usuarioportal.activated}}</td>
                <td>{{usuarioportal.langKey}}</td>
                <td>{{usuarioportal.authorities}}</td>
                <td>{{usuarioportal.createdBy}}</td>
                <td>{{usuarioportal.createdDate | date:'mediumDate'}}</td>
                <td>{{usuarioportal.lastModifiedBy}}</td>
                <td>{{usuarioportal.lastModifiedDate | date:'mediumDate'}}</td>
                <td>{{usuarioportal.password}}</td>
                <td>{{usuarioportal.dataNascimento | date:'mediumDate'}}</td>
                <td>{{usuarioportal.lojaMaconicaId}}</td>
                <td>{{usuarioportal.telefone}}</td>
                <td>{{usuarioportal.tipoPessoa}}</td>
                <td>{{usuarioportal.placet}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/usuarioportal', usuarioportal.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/usuarioportal', usuarioportal.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'usuarioportal/'+ usuarioportal.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="usuarioportals && usuarioportals.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
