<div>
    <h2 id="page-heading">
        <span jhiTranslate="cmtprojectApp.contatoEstabelecimento.home.title">Contato Estabelecimentos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contato-estabelecimento" [routerLink]="['/contato-estabelecimento/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cmtprojectApp.contatoEstabelecimento.home.createLabel">
            Create new Contato Estabelecimento
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="contatoEstabelecimentos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="cmtprojectApp.contatoEstabelecimento.nome">Nome</span></th>
            <th><span jhiTranslate="cmtprojectApp.contatoEstabelecimento.telefone">Telefone</span></th>
            <th><span jhiTranslate="cmtprojectApp.contatoEstabelecimento.email">Email</span></th>
            <th><span jhiTranslate="cmtprojectApp.contatoEstabelecimento.estabelecimentoComercialId">Estabelecimento Comercial Id</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contatoEstabelecimento of contatoEstabelecimentos ;trackBy: trackId">
                <td><a [routerLink]="['/contato-estabelecimento', contatoEstabelecimento.id, 'view' ]">{{contatoEstabelecimento.id}}</a></td>
                <td>{{contatoEstabelecimento.nome}}</td>
                <td>{{contatoEstabelecimento.telefone}}</td>
                <td>{{contatoEstabelecimento.email}}</td>
                <td>{{contatoEstabelecimento.estabelecimentoComercialId}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/contato-estabelecimento', contatoEstabelecimento.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/contato-estabelecimento', contatoEstabelecimento.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contato-estabelecimento/'+ contatoEstabelecimento.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
