<div class="row ">
    <div class="col-8">
        <div *ngIf="contatoEstabelecimento">
            <h2><span >Contato Estabelecimento</span> {{contatoEstabelecimento.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cmtprojectApp.contatoEstabelecimento.nome">Nome</span></dt>
                <dd>
                    <span>{{contatoEstabelecimento.nome}}</span>
                </dd>
                <dt><span jhiTranslate="cmtprojectApp.contatoEstabelecimento.telefone">Telefone</span></dt>
                <dd>
                    <span>{{contatoEstabelecimento.telefone}}</span>
                </dd>
                <dt><span jhiTranslate="cmtprojectApp.contatoEstabelecimento.email">Email</span></dt>
                <dd>
                    <span>{{contatoEstabelecimento.email}}</span>
                </dd>
                <dt><span jhiTranslate="cmtprojectApp.contatoEstabelecimento.estabelecimentoComercialId">Estabelecimento Comercial Id</span></dt>
                <dd>
                    <span>{{contatoEstabelecimento.estabelecimentoComercialId}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contato-estabelecimento', contatoEstabelecimento.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
